 h1 {
        color:rgb(8, 29, 8);
        text-align:center;
        font-family:cursive, Arial, Helvetica, sans-serif;
        font-size: 90px; font-weight:bolder;
    }
  
   h2
    {
        color:rgb(15, 90, 15);
        text-align:center;
        font-family: cursive, Arial, Helvetica, sans-serif;
        font-size: 45px;
        margin-top: 0;
    }

 body
     {
    font-size: 20pt;
    font-family: Arial, sans-serif;
    }

/* Style the form for alignment */
form {
    width: 1800px;
    margin: 30px ; /* Centers the form on the page */
    }

/* Make labels the same width and right-aligned */
label {
    display: inline-block;
    width: 850px;
    text-align: right;
    margin-right: 10px;
    }

/* Ensure inputs line up neatly */
input[type="text"] {
    width: 180px;
    padding: 5px;
    font-size: 16pt;
    box-sizing: border-box;
    }

input[type="email"] 
    {
    width: 180px;
    padding: 5px;
    font-size: 16pt;
    box-sizing: border-box;
    }


input[type="password"] {
    width: 180px;
    padding: 5px;
    font-size: 16pt;
    box-sizing: border-box;
    }

input[type="tel"] 
    {
    width: 180px;
    padding: 5px;
    font-size: 16pt;
    box-sizing: border-box;
    }


    /* Space between rows */
br {
    line-height: 2;
    }

footer
    {
        font-size: 20px ;
        text-align:center;
    }  

