    h1
    {
        color:rgb(15, 90, 15);
        text-align:center;
        font-family:cursive, Arial, Helvetica, sans-serif;
        font-size: 60px; font-weight:bolder;
    }
    
    h2
    {
        color:rgb(15, 90, 15);
        text-align:center;
        font-family: cursive, Arial, Helvetica, sans-serif;
        font-size: 45px;
        margin-top: 0;
    }
    
    h3
    {
        color:rgb(15, 90, 15);
        text-align:center;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 35px; 
    }
    
    h4
    {
        color:rgb(15, 90, 15);
        text-align:left;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 35px;
    }
    
    p
    {
        color: black;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 28px;
        font-weight: lighter;
        padding-left: 10%;
        padding-right: 10%;
        padding-bottom: 10px;
        
    }

    body
    {   
        background-color: rgb(199, 228, 179);
        color:black;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 30px;
        font-weight: bold;
    }


    .left-img 
    {
        float: left;
        width: 25%;
        margin-right: 30px;
        margin-bottom: 30px;
    } 

    input[type="text"] 
    {
        width: 180px;
        padding: 5px;
        font-size: 16pt;
        box-sizing: border-box;
    }

    input[type="tel"] 
    {
        width: 180px;
        padding: 5px;
        font-size: 16pt;
        box-sizing: border-box;
    }


    input[type="email"] 
    {
        width: 180px;
        padding: 5px;
        font-size: 16pt;
        box-sizing: border-box;
    }

    input[type="password"] 
    {
        width: 180px;
        padding: 5px;
        font-size: 16pt;
        box-sizing: border-box;
    }

    /* Style the form for alignment 
form 
    {
    width: 900px;
    margin: 30px ; /* Centers the form on the page */
    } 

/* Make labels the same width and right-aligned */
    label 
    {
        display: inline-block;
        width: 500px;
        text-align: right;
        margin-right: 10px;
    }


    /** check this stuff 
    button
    {
        border-radius: 15px;
        box-shadow: 3px 3px 5px grey;
        font-family: Arial, Helvetica, sans-serif; font-size: 20px; font-weight: bold; padding: 15px;;
    }  **/

   footer
    {
        font-size: 20px ;
        text-align:center;
    }  

    table
    {
        width: 90%;
        margin-left: auto;
        margin-right: auto;

    }

    .video
    {
        margin-left: 180px;
        width: 600px; 
        height: 300px;
    }

    ul
    {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 28px;
        font-weight: lighter;
        padding-left: 10%;
        padding-right: 10%;
        padding-bottom: 10px;
    }